1.1

In [ ]:
#You have an N-element tuple or sequence that you would like to unpack into a collection of N variables.
p = (1,3, 3, 4, 5)
a, b, c, d, e = p
print(c)

3

1.2

In [ ]:
#You need to unpack N elements from an iterable, but the iterable may be longer than N elements, causing a “too many values to unpack” exception.
p = (1,3, 3, 4, 5)
a, *b, c = p
print(b)

[3, 3, 4]

1.3

In [ ]:
#You want to keep a limited history of the last few items seen during iteration or during some other kind of processing.
from collections import deque
q = deque()

for number in p:
  q.append(number)

print(q)

q.pop()
q.pop()

deque([1, 3, 3, 4, 5])

AttributeError: ignored

1.4

In [ ]:
#You want to make a list of the largest or smallest N items in a collection.
import heapq
nums = [1, 8, 2, 23, 7, -4, 18, 23, 42, 37, 2]
largest = heapq.nlargest(5, nums)
print(largest)
smallest = heapq.nsmallest(5, nums)
print(smallest)

[42, 37, 23, 23, 18]
[-4, 1, 2, 2, 7]

1.5

In [ ]:
#You want to implement a queue that sorts items by a given priority and always returns the item with the highest priority on each pop operation.

class Item:
 def __init__(self, name):
  self.name = name
 def __repr__(self):
  return 'Item({!r})'.format(self.name)

import heapq

class PriorityQueue:
  def __init__(self):
    self._queue = []
    self._index = 0

  def push(self, item, priority):
      heapq.heappush(self._queue, (-priority, self._index, item))
      self._index += 1

  def pop(self):
      return heapq.heappop(self._queue)[-1]

q = PriorityQueue()
q.push(Item('pair'), 1)
q.push(Item('apple'), 2)
q.push(Item('tangerine'), 3)
q.push(Item('peaer'), 4)
q.push(Item('banana'), 5)

print(Item('banana'))
print(q.pop())
print(q.pop())
print(q.pop())

Item('banana')
Item('banana')
Item('peaer')
Item('tangerine')

1.6

In [ ]:
#You want to make a dictionary that maps keys to more than one value (a so-called “multidict”).
dictionary = {'key_a': [1, 'b', 2], 'key_b': (1,2,3)}
dictionary['key_a'].append(3)
print(dictionary)

{'key_a': [1, 'b', 2, 3], 'key_b': (1, 2, 3)}

1.7

In [ ]:
#You want to create a dictionary, and you also want to control the order of items when iterating or serializing.

from collections import OrderedDict

dict1 = OrderedDict()
dict1['a'] = 5
dict1['b'] = 2
dict1['c'] = 3
dict1['d'] = 4

for key in dict1:
  print(dict1[key])

5
2
3
4

1.8

In [ ]:
#You want to perform various calculations (e.g., minimum value, maximum value, sorting, etc.) on a dictionary of data.
prices = {
'ACME': 45.23,
'AAPL': 612.78,
'IBM': 205.55,
'HPQ': 37.20,
'FB': 10.75
}

#minimum
min_price = min(zip(prices.values(), prices.keys()))
print(min_price)

#maximum
max_price = max(zip(prices.values(), prices.keys()))
print(max_price)

#sort dictionary
sorted_dict = sorted(zip(prices.values(), prices.keys()))
print(sorted_dict)

(10.75, 'FB')
(612.78, 'AAPL')
[(10.75, 'FB'), (37.2, 'HPQ'), (45.23, 'ACME'), (205.55, 'IBM'), (612.78, 'AAPL')]

1.9

In [ ]:
#You have two dictionaries and want to find out what they might have in common ( same keys, same values, etc.).


a = {
    'x': 1,
    'y': 2,
    'z': 3
}
b = {
    'w': 10,
    'x': 11,
    'y': 2
}

print('What Keys are not in common',a.keys() - b.keys())
print('What keys are in common: ', a.keys() & b.keys())
print('What key/pairs are in common: ', a.items() & b.items())

What Keys are not in common {'z'}
What keys are in common:  {'x', 'y'}
What key/pairs are in common:  {('y', 2)}

1.10

In [ ]:
#You want to eliminate the duplicate values in a sequence, but preserve the order of the remaining items.
list_with_repeats = [1, 5, 2, 1, 9, 1, 5, 10]
new_list = list(set(list_with_repeats))
print(new_list)

[1, 2, 5, 9, 10]

In [ ]:
#Your program has become an unreadable mess of hardcoded slice indices and you want to clean it up.
record = '....................100          .......513.25     ..........'
SHARES = slice(20,32)
PRICE  = slice(40,48)
cost = int(record[SHARES]) * float(record[PRICE])
print(cost)

51325.0

1.11

In [ ]:
#You have a sequence of items, and you’d like to determine the most frequently occurring items in the sequence.
from collections import Counter

words = [
'look', 'into', 'my', 'eyes', 'look', 'into', 'my', 'eyes',
'the', 'eyes', 'the', 'eyes', 'the', 'eyes', 'not', 'around', 'the',
'eyes', "don't", 'look', 'around', 'the', 'eyes', 'look', 'into',
'my', 'eyes', "you're", 'under'
]

word_counts = Counter(words)
print(word_counts)
print(word_counts.most_common(5))

Counter({'eyes': 8, 'the': 5, 'look': 4, 'into': 3, 'my': 3, 'around': 2, 'not': 1, "don't": 1, "you're": 1, 'under': 1})
[('eyes', 8), ('the', 5), ('look', 4), ('into', 3), ('my', 3)]

1.13

In [ ]:
#You have a list of dictionaries and you would like to sort the entries according to one or more of the dictionary values.
from operator import itemgetter
rows = [
{'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
{'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
{'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}
]

sort_by_fname = sorted(rows, key = itemgetter('fname'))
print(sort_by_fname)
sort_by_lname = sorted(rows, key = itemgetter('lname'))
print(sort_by_lname)

[{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}, {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}, {'fname': 'David', 'lname': 'Beazley', 'uid': 1002}, {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}]
[{'fname': 'David', 'lname': 'Beazley', 'uid': 1002}, {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}, {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}, {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}]

1.14

In [ ]:
#You want to sort objects of the same class, but they don’t natively support comparison operations.
from operator import attrgetter

class User:
  def __init__(self, user_id):
    self.user_id = user_id
  def __repr__(self):
    return 'User({})'.format(self.user_id)

users = [User(53), User(40), User(199)]

print(sorted(users, key=attrgetter('user_id')))

[User(40), User(53), User(199)]

1.15

In [ ]:
#You have a sequence of dictionaries or instances and you want to iterate over the data in groups based on the value of a particular field, such as date.
rows = [
{'address': '5412 N CLARK', 'date': '07/01/2012'},
{'address': '5148 N CLARK', 'date': '07/04/2012'},
{'address': '5800 E 58TH', 'date': '07/02/2012'},
{'address': '2122 N CLARK', 'date': '07/03/2012'},
{'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
{'address': '1060 W ADDISON', 'date': '07/02/2012'},
{'address': '4801 N BROADWAY', 'date': '07/01/2012'},
{'address': '1039 W GRANVILLE', 'date': '07/04/2012'},
]

from operator import itemgetter
from itertools import groupby

# Iterate in groups
for date, items in groupby(rows, key=itemgetter('date')):
  print(date)
  for i in items:
    print(' ', i)

07/01/2012
  {'address': '5412 N CLARK', 'date': '07/01/2012'}
07/04/2012
  {'address': '5148 N CLARK', 'date': '07/04/2012'}
07/02/2012
  {'address': '5800 E 58TH', 'date': '07/02/2012'}
07/03/2012
  {'address': '2122 N CLARK', 'date': '07/03/2012'}
07/02/2012
  {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'}
  {'address': '1060 W ADDISON', 'date': '07/02/2012'}
07/01/2012
  {'address': '4801 N BROADWAY', 'date': '07/01/2012'}
07/04/2012
  {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}

1.16

In [2]:
#You have data inside of a sequence, and need to extract values or reduce the sequence using some criteria.
mylist = [1, 4, -5, 10, -7, 2, 3, -1]
filtered_list = [x for x in mylist if x >= 1]
print(filtered_list)

[1, 4, 10, 2, 3]

1.17

In [4]:
#You want to make a dictionary that is a subset of another dictionary.
prices = {
'ACME': 45.23,
'AAPL': 612.78,
'IBM': 205.55,
'HPQ': 37.20,
'FB': 10.75
}

p1 = { key:value for key, value in prices.items() if value < 200 }
print(p1)

{'ACME': 45.23, 'HPQ': 37.2, 'FB': 10.75}

1.18

In [8]:
#You have code that accesses list or tuple elements by position, but this makes the code somewhat difficult to read at times. You’d also like to be less dependent on position in the structure, by accessing the elements by name.

from collections import namedtuple

Subscriber = namedtuple('Subscriber', ['addr', 'joined'])

sub = Subscriber('jonesy@example.com', '2012-10-19')
sub2 = Subscriber('jeremy@gmail.com', '2012-15-19')
print(sub2.addr)

jeremy@gmail.com

1.19

In [ ]:
#You need to execute a reduction function (e.g., sum(), min(), max()), but first need to transform or filter the data.
nums = [1, 2, 3, 4, 5]
#transform
multiplied_list = [x * 2 for x in nums]
print(multiplied_list)

#sum
Sum = sum(multiplied_list)
print(Sum)
#min
min = min(multiplied_list)
print(min)
#max
max = max(multiplied_list)
print(max)

1.20

In [17]:
#You have multiple dictionaries or mappings that you want to logically combine into a single mapping to perform certain operations, such as looking up values or checking for the existence of keys.
from collections import ChainMap

a = {'x': 1, 'z': 3 }
b = {'y': 2, 'z': 4 }
c = {'a': 5, 'b': 6 }


complete_dict = ChainMap(a,b, c)
print(complete_dict)

ChainMap({'x': 1, 'z': 3}, {'y': 2, 'z': 4}, {'a': 5, 'b': 6})