Numbers: data type, will not have a decimal value, Ex: 1, 2, 3, 30000, mutable

Strings: Can be accessed and treated like list/array structure, indexed, will begine/end with '' or "", mutable

Lists: array like structure, indexed, mutable, collection type, can contain multiple types, declared with []

Tuples: declarred with (), indexed, immutable, collection type, 

Dictionaries: no index, key/value pairs, collection type, declared with {key: value}

In [1]:
#Numbers
result = ((100 * 1) /1 ) + .25
print(result)

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

What is the value of the expression 4 * (6 + 5) = 44

What is the value of the expression 4 * 6 + 5  = 44

What is the value of the expression 4 + 6 * 5 = 40

In [5]:
value1 = 4 * (6 + 5)
value2 =  4 * 6 + 5
value3 = 4 + 6 * 5
print(value1)
print(value2)
print(value3)

44
29
34

What is the type of the result of the expression 3 + 1.5 + 4? float

In [6]:
result =  3 + 1.5 + 4
result

8.5

What would you use to find a numberâ€™s square root, as well as its square?

In [8]:
import math
value1 = math.sqrt(300)
print(value1)
print(3**3)

17.320508075688775
27

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [11]:
s = 'hello'
print(s[1])

#reverse string using slicing
print(s[::-1])

e
olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [14]:
s = 'hello'
print(s[-1])
print(s[len(s) -1])

o
o

Build this list [0,0,0] two separate ways.

In [17]:
list1 = [0,0,0]
list2 = []
list2.append(0)
list2.append(0)
list2.append(0)
print(list2)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [19]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = 'goodbye'
print(list3)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [21]:
list4 = [5,3,4,6,1]
list4.sort(reverse=False)
list4

[1, 3, 4, 5, 6]

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [36]:
d = {'simple_key':'hello'}
# Grab 'hello'
print(d['simple_key'])
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print(d['k1']['k2'])
# Getting a little trickier
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
print(d['k1'][0]['nest_key'][1])
#Grab hello
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

hello
hello
['hello']

Tuples
What is the major difference between tuples and lists? 
The major difference is tuples are immutable and list are mutable


How do you create a tuple?
variable = tuple()
variable2 = (1, 2, 3)

Sets
What is unique about a set?
They cannot have repeating values in them.

Use a set to find the unique values of the list below:

In [37]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
list5_set = set(list5)
list5_set

{1, 2, 3, 4, 11, 22, 33}

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [38]:
# Answer before running cell False
2 > 3
# Answer before running cell False
3 <= 2
# Answer before running cell False
3 == 2.0
# Answer before running cell False
3.0 == 3
# Answer before running cell False
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [39]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False? False
l_one[2][0] >= l_two[2]['k1']

False