Installing

In [ ]:
#mysql-connector method can be installed on Windows with the use of following command:

!pip install mysql-connector-python
#mysql-connector method can be installed on Linux with the use of following command:

!pip3 install mysql-connector

Importing Setting up database connection

In [ ]:
# Python program to connect
# to mysql database


import mysql.connector


# Connecting from the server
conn = mysql.connector.connect(user = 'username',
							host = 'localhost',
							database = 'database_name')

print(conn)

# Disconnecting from the server
conn.close()

In [ ]:
#Also for the same, we can use connection.MySQLConnection() class instead of connect(): Example:

# Python program to connect
# to mysql database


from mysql.connector import connection

# Connecting to the server
conn = connection.MySQLConnection(user = 'username',
							host = 'localhost',
							database = 'database_name')

print(conn)

# Disconnecting from the server
conn.close()

#Another way is to pass the dictionary in the connect() function using ‘**’ operator: Example:

# Python program to connect
# to mysql database


from mysql.connector import connection


dict = {
'user': 'root',
'host': 'localhost',
'database': 'College'
}

# Connecting to the server
conn = connection.MySQLConnection(**dict)

print(conn)

# Disconnecting from the server
conn.close()

Python Database API ( Application Program Interface ) is the Database interface for the standard Python. This standard is adhered to by most Python Database interfaces. There are various Database servers supported by Python Database such as MySQL, GadFly, mSQL, PostgreSQL, Microsoft SQL Server 2000, Informix, Interbase, Oracle, Sybase etc. To connect with MySQL database server from Python, we need to import the mysql.connector interface. Syntax:

In [ ]:
CREATE DATABASE DATABASE_NAME
# importing required libraries
import mysql.connector

dataBase = mysql.connector.connect(
host ="localhost",
user ="user",
passwd ="gfg"
)

# preparing a cursor object
cursorObject = dataBase.cursor()

# creating database
cursorObject.execute("CREATE DATABASE geeks4geeks")

Create Table

In [ ]:
# Python code for creating Table in the Database
# Host: It is the server name. It will be "localhost"
# if you are using localhost database

import mysql.connectors as SQLC
def CreateTable():
	
	# Connecting To the Database in Localhost
	DataBase = SQLC.connect(
				host ="server name",
				user ="user name",
				password ="password",
				database ="College"
			)

	# Cursor to the database
	Cursor = DataBase.cursor()

	# Query for Creating the table
	# The student table contains two columns Name and
	# Name of data type varchar i.e to store string
	# and Roll number of the integer data type.
	TableName ="CREATE TABLE Student
				(
					Name VARCHAR(255),
					Roll_no int
				);"

	Cursor.execute(TableName)
	print("Student Table is Created in the Database")
	return

# Calling CreateTable function
CreateTable()

Inserting data into table

In [ ]:
sql = "INSERT INTO Student (Name, Roll_no) VALUES (%s, %s)"
val = ("Ram", "85")

mycursor.execute(sql, val)
mydb.commit()

print(mycursor.rowcount, "details inserted")

# disconnecting from server
mydb.close()

#To insert multiple values at once, executemany() method is used. This method iterates through the sequence of parameters, passing the current parameter to the execute method.

sql = "INSERT INTO Student (Name, Roll_no) VALUES (%s, %s)"
val = [("Akash", "98"),
	("Neel", "23"),
	("Rohan", "43"),
	("Amit", "87"),
	("Anil", "45"),
	("Megha", "55"),
	("Sita", "95")]

mycursor.executemany(sql, val)
mydb.commit()

print(mycursor.rowcount, "details inserted")

# disconnecting from server
mydb.close()

Selecting Data from database table

In [ ]:
# importing required library
import mysql.connector
	
# connecting to the database
dataBase = mysql.connector.connect(
					host = "localhost",
					user = "user",
					passwd = "pswrd",
					database = "geeks" )
	
# preparing a cursor object
cursorObject = dataBase.cursor()
	
print("Displaying NAME and ROLL columns from the STUDENT table:")

# selecting query
query = "SELECT NAME, ROLL FROM STUDENT"
cursorObject.execute(query)

myresult = cursorObject.fetchall()

for x in myresult:
	print(x)

# disconnecting from server
dataBase.close()

Example 2: Let us look at another example for selecting queries in a table.

# importing required library
import mysql.connector
	
# connecting to the database
dataBase = mysql.connector.connect(
					host = "localhost",
					user = "user",
					passwd = "pswrd",
					database = "geeks" )
	
# preparing a cursor object
cursorObject = dataBase.cursor()
	
print("Displaying NAME and ROLL columns from the STUDENT table:")

# selecting query
query = "SELECT * FROM STUDENT"
cursorObject.execute(query)

myresult = cursorObject.fetchall()

for x in myresult:
	print(x)

# disconnecting from server
dataBase.close()

Where Clause

In [ ]:
import mysql.connector

#Establishing connection
conn = mysql.connector.connect(user='your_username',
							host='localhost',
							password ='your_password',
							database='College')

# Creating a cursor object using
# the cursor() method
mycursor = conn.cursor();

# SQL Query
sql = "select * from Student where Roll_no >= 3;"

# Executing query
mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
	print(x)

# Closing the connection
conn.close()

Order by Clause

In [ ]:
# Python program to demonstrate
# order by clause


import mysql.connector

# Connecting to the Database
mydb = mysql.connector.connect(
host ='localhost',
database ='College',
user ='root',
password = ''
)

cs = mydb.cursor()

# Order by clause
statement ="SELECT * FROM Student ORDER BY Name"
cs.execute(statement)

result_set = cs.fetchall()

for x in result_set:
	print(x)
	
# Disconnecting from the database
mydb.close()

Example 2: Arranging the database in descending order

# Python program to demonstrate
# order by clause


import mysql.connector

# Connecting to the Database
mydb = mysql.connector.connect(
host ='localhost',
database ='College',
user ='root',
)

cs = mydb.cursor()

# Order by clause
statement ="SELECT * FROM Student ORDER BY Name DESC"
cs.execute(statement)

result_set = cs.fetchall()

for x in result_set:
	print(x)
	
# Disconnecting from the database
mydb.close()

Example 3: Program to get namefrom the table, arranged in descending order by Roll no.

# Python program to demonstrate
# order by clause


import mysql.connector

# Connecting to the Database
mydb = mysql.connector.connect(
host ='localhost',
database ='College',
user ='root',
)

cs = mydb.cursor()

# Order by clause
statement ="SELECT Name FROM Student ORDER BY Roll_no DESC"
cs.execute(statement)

result_set = cs.fetchall()

for x in result_set:
	print(x)
	
# Disconnecting from the database
mydb.close()

Deleting data from database table

In [ ]:
# importing required library
import mysql.connector

# connecting to the database
dataBase = mysql.connector.connect(
					host = "localhost",
					user = "user",
					passwd = "pswrd",
					database = "geeks" )

# preparing a cursor object
cursorObject = dataBase.cursor()

# creating table
studentRecord = """CREATE TABLE STUDENT (
				NAME VARCHAR(20) NOT NULL,
				BRANCH VARCHAR(50),
				ROLL INT NOT NULL,
				SECTION VARCHAR(5),
				AGE INT
				)"""

# table created
cursorObject.execute(studentRecord)

# inserting data into the table
query = "INSERT INTO STUDENT (NAME, BRANCH, ROLL, SECTION, AGE) VALUES (% s, % s)"

attrValues = ("Rituraj Saha", "Information Technology", "1706256", "IT-3", "20")
cursorObject.execute(query, attrValues)

attrValues = ("Ritam Barik", "Information Technology", "1706254", "IT-3", "21")
cursorObject.execute(query, attrValues)

attrValues = ("Rishi Kumar", "Information Technology", "1706253", "IT-3", "21")
cursorObject.execute(query, attrValues)

# deleting query
query = "DELETE FROM STUDENT WHERE ROLL = 1706256"
cursorObject.execute(query, attrValues)

dataBase.commit()

# disconnecting from server
dataBase.close()

Example 2: Let us look at another example for queries in a table.

# importing required library
import mysql.connector

# connecting to the database
dataBase = mysql.connector.connect(
					host = "localhost",
					user = "user",
					passwd = "pswrd",
					database = "geeks" )

# preparing a cursor object
cursorObject = dataBase.cursor()

# drop table if it already exists
cursorObject.execute("DROP TABLE IF EXISTS PHONE_RECORD")

# creating table
phoneRecord = """CREATE TABLE PHONE_RECORD (
				NAME VARCHAR(20) NOT NULL,
				PHONE VARCHAR(10) NOT NULL
				)"""

# table created
cursorObject.execute(phoneRecord)

# inserting data into the table
query = "INSERT INTO PHONE_RECORD (NAME, PHONE) VALUES (% s, % s)"
attrValues = ("Rituraj Saha", "9163089075")
cursorObject.execute(query, attrValues)

# deleting query
query = "DELETE FROM STUDENT WHERE NAME = 'Rituraj Saha'"
cursorObject.execute(query)

dataBase.commit()

# disconnecting from server
dataBase.close()

Drop Table

In [ ]:
# Python program to demonstrate
# drop clause


import mysql.connector

# Connecting to the Database
mydb = mysql.connector.connect(
host ='localhost',
database ='College',
user ='root',
)

cs = mydb.cursor()

# drop clause
statement = "Drop Table if exists Employee"

# Uncommenting statement ="DROP TABLE employee"
# Will raise an error as the table employee
# does not exists

cs.execute(statement)
	
# Disconnecting from the database
mydb.close()

Update data in table

In [ ]:
# Python program to demonstrate
# update clause


import mysql.connector

# Connecting to the Database
mydb = mysql.connector.connect(
host ='localhost',
database ='College',
user ='root',
)

cs = mydb.cursor()

# drop clause
statement ="UPDATE STUDENT SET AGE = 23 WHERE Name ='Rishi Kumar'"

cs.execute(statement)
mydb.commit()

# Disconnecting from the database
mydb.close()